<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MaiDianTest1VC</key>
	<dict>
		<key>viewDidAppear:</key>
		<array>
			<string>co</string>
		</array>
	</dict>
	<key>MaiDianViewController</key>
	<dict>
		<key>tapActionWithCondition:</key>
		<array>
			<string>co</string>
			<string>userName</string>
		</array>
		<key>tapActionWithOutCondition:</key>
		<array>
			<string>co</string>
			<string>userName</string>
		</array>
		<key>runtimeLeftControlAction:</key>
		<array>
			<string>co</string>
			<string>userName</string>
			<string>grabOrderState</string>
		</array>
		<key>runtimeMiddleControlAction:</key>
		<array>
			<string>co</string>
			<string>userName</string>
		</array>
		<key>runtimeRightControlAction:</key>
		<array>
			<string>co</string>
			<string>grabOrderState</string>
		</array>
	</dict>
</dict>
</plist>
