<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MaiDianViewController</key>
	<dict>
		<key>runtimeLeftAction:</key>
		<array>
			<string>co</string>
			<string>userName</string>
			<string>grabOrderState</string>
		</array>
		<key>runtimeMiddleAction:</key>
		<array>
			<string>co</string>
			<string>userName</string>
			<string>grabOrderState</string>
		</array>
		<key>runtimeRightAction:</key>
		<array>
			<string>co</string>
			<string>userName</string>
			<string>grabOrderState</string>
		</array>
	</dict>
</dict>
</plist>
